/*
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
*/
html {
    scroll-behavior: smooth;
}
.master{
    overflow-x: hidden;
}
.master,
header,
section,
footer,
figure,
h1,h2,h3,h4,h5,h6{
    width: 100%;
    float: left;
    position: relative;
}

p{
    width: 100%;
    float: left;
    font-size: 14px;
}

*{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6,
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

a:hover{
    text-decoration: none;
}

section{
    padding: 100px 0;
}

figure{
    margin-bottom: 0;
}
figure img{
    width: 100%;
}
.ratio{
    width: 100%;
    height: 0;
    position: relative;
}
.ratio-16{
    padding-top: 56.25%;
}
.ratio-1{
    padding-top: 100%;
}
.ratio-75{
    padding-top: 75%;
}
.ratio-135{
    padding-top: 135%;
}
.ratio img,
.ratio iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-title{
    width: 100%;
    float: left;
    margin-bottom: 30px;
    position: relative;
}
.section-title h3{
    font-size: 52px;
    color: #0A3480;
    line-height: 100%;
}
.section-title p{
    color: rgba(0,0,0,0.6);
    margin-bottom: 0;
}
.section-title a{
    position: absolute;
    top: 10px;
    right: 0;
}
.row.gutter-0 .col-md-4{
    padding-left: 0;
    padding-right: 0;
}

.btn{
    min-width: 120px;
    padding: 12px 30px;
    font-size: 14px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border: none;
}
.btn-primary{
    background: #0A3480;
    color: #fff;
}
.btn-primary:hover,
.btn-primary.active{
    background: #204D9E !important;
    color: #fff;
}
.btn-secondary{
    background: #fff;
    color: #0A3480;
    border: 2px solid #204D9E;
}


.for-mobile{
    display: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 20px 0;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
header.scrolled{
    background: #f4f4f4;
    padding: 10px;
    box-shadow: 0 4px 32px rgba(0,0,0,0.15);
}
header .logo{
    width: 135px;
    height: 50px;
    float: left;
}
header .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.menu{
    width: calc(100% - 135px);
    float: left;
    text-align: right;
}
.menu .menu-item{
    display: inline-block;
    padding: 12px 20px;
    color: #333;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    position: relative;
}
.menu .menu-item:hover,
.menu .menu-item.active{
    color: #1F6BE3;
}
.menu .menu-item.btn-primary{
    margin-left: 20px;
}
.menu .menu-item::before{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background: rgba(245,5,6,0);
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.menu .menu-item.active::before{
    background: #1F6BE3;
    width: calc(100% - 40px);
}
.menu .menu-item.btn-primary{
    color: #fff;
}

.hero{
    padding: 0;
}
.hero .item{
    background: #000;
    height: 770px;
    position: relative;
}
.hero .item figure{
    position: absolute;
    top: 0;
    left: 0;
}
.hero .item .container{
    height: 770px;
}
.hero .item img{
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero .post{
    margin-top: 200px;
}
.hero .post h2{
    font-size: 64px;
    color: #0A3480;
    line-height: 100%;
}
.hero .post p{
    color: #555;
    margin-bottom: 30px;
}

#solutions .card{
    background: #f2f2f2;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    overflow: hidden;
    border: none;
}
#solutions .card .text{
    width: 100%;
    float: left;
    padding: 30px;
}
#solutions .card .text h3{
    font-size: 32px;
    margin-bottom: 15px;
}
#solutions .card .text h3 a{
    color: #333;
}
#solutions .card .text p{
    margin-bottom: 0;
    color: rgba(0,0,0,0.6);
}
#solutions::before{
    content: "";
    width: 100%;
    height: 370px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../images/bg-solutions.jpg) no-repeat center fixed;
    background-size: cover;
    z-index: -1;
}

#about{
    padding: 0;
    margin-top: -60px;
}
#about p{
}
#about .card-holder{
    width: 100%;
    float: left;
    position: relative;
    height: 250px;
}
#about .card{
    width: 100%;
    padding: 30px 20px;
    height: 250px;
    border-radius: 0;
    border: none;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -wekit-transform: translate(-50%,-50%);
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
#about .card .text{
    position: relative;
    z-index: 2;
}
#about .card .text h4{
    margin-bottom: 10px;
    font-size: 20px;
}
#about .card .text a{
    color: #fff;
}
#about .card .text p{
    color: #fff;
    height: auto;
    max-height: 42px;
    overflow: hidden;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
#about .card .ico{
    height: 48px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}
#about .card .bg{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transition: all ease-out 3s;
    -moz-transition: all ease-out 3s;
    -webkit-transition: all ease-out 3s;
}
#about .col-md-4:nth-child(2) .card .text a,
#about .col-md-4:nth-child(2) .card .text p,
#about .col-md-4:nth-child(4) .card .text a,
#about .col-md-4:nth-child(4) .card .text p{
    color: #333;
}
#about .card a.go-btn{
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    opacity: 0.6;
    padding-top: 6px;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
#about .col-md-4:nth-child(2) .card a.go-btn,
#about .col-md-4:nth-child(4) .card a.go-btn{
    border-color: #333;
}
#about .card:hover{
    height: 320px;
    /*width: calc(100% + 40px);*/
    transform: translate(-50%,-50%) scale(1.1);
    -moz-transform: translate(-50%,-50%) scale(1.1);
    -webkit-transform: translate(-50%,-50%) scale(1.1);
    z-index: 3;
    box-shadow: 0 4px 64px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 4px 64px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 4px 64px rgba(0,0,0,0.5);
}
#about .card:hover .bg{
    width: 120%;
    height: 120%;
}
#about .card .go-btn:hover{
    opacity: 1;
}
#about .card:hover .text p{
    max-height: 100px;
}

#services{
    background: url(../images/bg-services.jpg) no-repeat center fixed;
    background-size: cover;
}
#services .card{
    padding: 30px;
    min-height: 340px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background: rgba(255,255,255,0.18);
    border-color: rgba(255,255,255,0.23);
}
#services .card .ico{
    margin-bottom: 30px;
}
#services .card h4{
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}
#services .card p{
    color: rgba(255,255,255,0.6);
}
#services .section-title{
    margin-bottom: 0;
}

#blog::before{
    content: "";
    width: 100%;
    height: 280px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #0A3480;
}
#blog.pb-0::before{
    height: 200px;
}
.blog-card{
    overflow: hidden;
    position: relative;
    background: #000;
    overflow: hidden;
}
.blog-card img{
    opacity: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.blog-card .text{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    text-align: center;
}
.blog-card .text a{
    color: #fff;
}
.blog-card .text h3{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    margin-bottom: 20px;
    font-size: 22px;
}
.blog-card .text .meta-info span{
    color: rgba(255,255,255,0.7);
}
.blog-card .text .meta-info span i{
    margin-right: 10px;
}
.blog-card:hover img{
    width: 110%;
    height: 110%;
}

#client{
    background: url(../images/dways-img/client-bg.jpg) no-repeat center fixed;
    background-size: cover;
}

#wgroup .logo-group{
    width: 100%;
    float: left;
    text-align: right;
}
#wgroup .logo-group img{
    margin-left: 30px;
}

#contact{
    background: url(../images/dways-img/contact-bg.jpg) no-repeat center;
    background-size: cover;
}
#contact .section-title h3{
    color: #fff;
}
#contact .section-title p{
    color: rgba(255,255,255,0.6);
}
form.contact{
    width: 100%;
    float: left;
}
form.contact .inp-group{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
form.contact .inp-group input,
form.contact .inp-group textarea{
    padding: 10px 20px;
    width: 100%;
    float: left;
    background: rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.3);
    color: #fff;
}
form.contact .inp-group input:focus,
form.contact .inp-group textarea:focus{
    outline: none;
    border: 1px solid#1F6BE3;
}
form.contact .inp-group input{
    height: 52px;
}
form.contact .inp-group input.half{
    width: calc((100% - 20px) / 2);
    margin-right: 20px;
}
form.contact .inp-group input:nth-child(even){
    margin-right: 0;
}
#contact .btn-primary{
    background: #D99D27;
    color: #001C4E;
}

footer{
    padding: 100px 0;
    background: #00215E;
}
.foot-title{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.foot-title h4{
    font-size: 32px;
    color: #fff;
}
footer p.info{
    padding-left: 30px;
    position: relative;
    color: rgba(255,255,255,0.6);
}
footer p.info i{
    position: absolute;
    left: 0;
    top: 3px;
} 
.maps{
    width: 100%;
    height: 215px;
}
.maps iframe{
    width: 100%;
    height: 100%;
}

section.copy{
    padding: 20px 0;
    background: #00215E;
    border-top: 1px solid rgba(255,255,255,0.2);
}
section.copy p{
    margin-bottom: 0;
    color: #fff;
}
.social-media{
    text-align: right;
    font-size: 18px;
}
.social-media a{
    margin-left: 10px;
    color: #fff;
}

.hero-slider .owl-prev,
.hero-slider .owl-next{
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    opacity: 0.5;
    text-indent: -200px;
    overflow: hidden;
}
.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover{
    opacity: 1;
}
.hero-slider .owl-prev{
    left: 20px;
    background: url(../images/left.png) no-repeat center;
}
.hero-slider .owl-next{
    right: 20px;
    background: url(../images/right.png) no-repeat center;
}

.case-slider figure.ratio{
    padding-top: 40.2%;
    opacity: 0.4;
    transition: opacity ease-out 0.3s;
    -moz-transition: opacity ease-out 0.3s;
    -webkit-transition: opacity ease-out 0.3s;
}
.case-slider figure.ratio img{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.case-slider .slick-active figure.ratio{
    opacity: 0.7;
}
.case-slider .item{
    text-align: center;
    position: relative;
    background: #001C4E;
    overflow: hidden;
}
.case-slider .item .text{
    width: 100%;
    padding: 0 30px 70px 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: padding-bottom ease-out 0.3s;
    -moz-transition: padding-bottom ease-out 0.3s;
    -webkit-transition: padding-bottom ease-out 0.3s;
}
.case-slider .item .text h3{
    font-size: 36px;
}
.case-slider .item .text h3 a{
    color: #fff;
}
.case-slider .item .text::before{
    content: "";
    width: 2px;
    height: 50px;
    position: absolute;
    left: calc(50% - 1px);
    bottom: 0;
    background: #FFD000;
    transition: height ease-out 0.3s;
    -moz-transition: height ease-out 0.3s;
    -webkit-transition: height ease-out 0.3s;
}
.case-slider .item:hover .text{
    padding-bottom: 100px;
}
.case-slider .item:hover .text::before{
    height: 70px;
}
.case-slider .item:hover img{
    width: 110%;
    height: 110%;
}

.burger{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    float: right;
    color: #0A3480;
    z-index: 8;
    margin-top: 7px;
    cursor: pointer;
}

#blogs .blog-card{
    margin-bottom: 20px;
}
/*BLOG*/
.page-cover{
    padding-top: 150px;
    background: #f4f4f4;
}
.page-cover h2{
    color: #333;
    font-size: 64px;
}
.page-cover .meta-info{
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}
.page-cover .meta-info i{
    margin-right: 5px;
    font-size: 12px;
    transform: translateY(-1px);
}
.custom-breadcrumb{
    width: 100%;
    float: left;
    font-size: 14px;
    color: #333;
}
.custom-breadcrumb a{
    margin: 0 5px;
    color: #333;
}

.blogs .blog-card{
    margin-bottom: 20px;
}
.custom-pagination{
    width: 100%;
    float: left;
    margin-top: 40px;
}
.custom-pagination a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #f4f4f4;
    padding-top: 10px;
    text-align: center;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    margin-left: -3px;
}
.custom-pagination a:first-child{
    border-radius: 12px 0 0 12px;
    -moz-border-radius: 12px 0 0 12px;
    -webkit-border-radius: 12px 0 0 12px;
}
.custom-pagination a:last-child{
    border-radius: 0 12px 12px 0;
    -moz-border-radius: 0 12px 12px 0;
    -webkit-border-radius: 0 12px 12px 0;
}
.custom-pagination a.active{
    color: #fff;
    background: #0A3480;
}

.article{
    width: 100%;
    float: left;
}
.article p,
.article li{
    font-size: 16px;
    line-height: 200%;
    color: #555;
}
.article h3{
    font-size: 32px;
    margin-bottom: 10px;
}
.article blockquote{
    width: 100%;
    float: left;
    padding: 30px;
    line-height: 200%;
    font-size: 18px;
    font-weight: 700;
    background: #0A3480;
    color: #fff;
}
.article blockquote span{
    width: 100%;
    float: left;
    font-size: 14px;
    margin-top: 20px;
    position: relative;
    padding-top: 8px;
    color: #FFD000;
}
.article blockquote span::before{
    width: 30px;
    height: 3px;
    background: #FFD000;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.share-box{
    width: 100%;
    float: left;
    padding: 10px 20px;
    background: #f4f4f4;
}
.share-box h5{
    float: left;
    width: 30%;
    padding-top: 4px;
    margin-bottom: 0;
}
.share-box .socmed-group{
    float: right;
    width: 70%;
    text-align: right;
}
.share-box .socmed-group a{
    color: #333;
    font-size: 18px;
    width: 30px;
    text-align: center;
    display: inline-block;
    padding-top: 3px;
}
.bg-grey{
    background: #f4f4f4;
}
.blog-detail{
    border-bottom: 1px solid #dedede;
}
.foot-logo{
    display: block;
}
@media only screen and (max-width:1024px){
    .for-mobile{
        display: block;
    }
    .for-desktop{
        display: none;
    }

    .menu{
        position: fixed;
        top: 90px;
        right: -240px;
        z-index: 5;
        background: #001C4E;
        width: 240px;
        height: calc(100vh - 90px);
        transition: all ease-out 0.3s;
        -moz-transition: all ease-out 0.3s;
        -webkit-transition: all ease-out 0.3s;
        padding-top: 30px;
        padding-bottom: 30px;
        overflow-y: auto;
    }
    .menu.show{
        right: 0;
    }
    header.scrolled .menu{
        top: 70px;
        height: calc(100vh - 70px);
    }
    .menu .menu-item{
        width: 100%;
        color: #fff;
        float: left;
        margin-bottom: 10px;
    }
    .menu .menu-item::before{
        bottom: -6px;
        transform: translateX(0);
        left: auto;
        right: 20px;
    }
    .menu .menu-item.active::before{
        width: 30px;
    }
    .menu .menu-item.btn-primary{
        margin-left: 20px;
        width: calc(100% - 40px);
    }
    .menu .menu-item.btn-primary::before{
        display: none;
    }

    .section-title a{
        position: relative;
        margin-top: 10px;
    }
    .section-title h3{
        font-size: 36px;
    }

    .hero .item,
    .hero .item .container,
    .hero .item figure{
        height: 500px;
    }

    #about{
        margin-top: 0;
    }
    .hero .post h2{
        font-size: 32px;
    }
    .case-slider .item .text h3{
        font-size: 18px;
    }
    .case-slider .item .text{
        padding-bottom: 10px;
    }
    .case-slider .item .text::before{
        display: none;
    }
    .case-slider .item:hover .text{
        padding-bottom: 10px;
    }
    .blog-card{
        margin-bottom: 15px;
    }
    #blog{
        padding-bottom: 80px;
    }
    .copy p{
        text-align: center;
    }
    .copy .social-media{
        text-align: center;
        margin-top: 20px;
    }
    footer{
        padding: 80px 0;
    }
    .foot-logo{
        margin-bottom: 60px;
    }
}

@media only screen and (max-width:1024px){
    section{
        padding: 60px 0;
    }
    .col-xs-6{
        width: 50%;
    }

    .page-cover h2{
        font-size: 32px;
    }
}
