/*
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
*/
html {
    scroll-behavior: smooth;
    background: #0A3480;
}
.master{
    overflow-x: hidden;
}
.master,
header,
section,
footer,
figure,
h1,h2,h3,h4,h5,h6{
    width: 100%;
    float: left;
    position: relative;
}

p{
    width: 100%;
    float: left;
    font-size: 14px;
    color: rgba(255,255,255,0.8);
}

*{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6,
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #fff;
}

a:hover{
    text-decoration: none;
}

section{
    padding: 100px 0;
}

figure{
    margin-bottom: 0;
}
figure img{
    width: 100%;
}
.ratio{
    width: 100%;
    height: 0;
    position: relative;
}
.ratio-16{
    padding-top: 56.25%;
}
.ratio-1{
    padding-top: 100%;
}
.ratio-75{
    padding-top: 75%;
}
.ratio-135{
    padding-top: 135%;
}
.ratio img,
.ratio iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-title{
    width: 100%;
    float: left;
    margin-bottom: 30px;
    position: relative;
}
.section-title h2{
    font-size: 48px;
    color: #fff;
    line-height: 100%;
}
.section-title p{
    color: rgba(0,0,0,0.6);
    margin-bottom: 0;
}
.section-title a{
    position: absolute;
    top: 10px;
    right: 0;
}
.row.gutter-0 .col-md-4,
.row.gutter-0 .col-md-6{
    padding-left: 0;
    padding-right: 0;
}

.btn{
    min-width: 120px;
    padding: 12px 30px;
    font-size: 14px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border: none;
}
.btn-primary{
    background: #0A3480;
    color: #fff;
}
.btn-primary:hover,
.btn-primary.active{
    background: #204D9E !important;
    color: #fff;
}
.btn-secondary{
    background: #fff;
    color: #0A3480;
    border: 2px solid #204D9E;
}

.shadow-overlay::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    z-index: 1;
}

.for-mobile{
    display: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 20px 0;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
header.scrolled{
    background: #f4f4f4;
    padding: 10px;
    box-shadow: 0 4px 32px rgba(0,0,0,0.15);
}
header .logo{
    width: 135px;
    height: 50px;
    float: left;
}
header .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.menu{
    width: calc(100% - 135px);
    float: left;
    text-align: right;
}
.menu .menu-item{
    display: inline-block;
    padding: 12px 20px;
    color: #fff;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    position: relative;
    font-weight: 600;
}
header.scrolled .menu .menu-item{
    color: #333;
}
.menu .menu-item:hover,
.menu .menu-item.active{
    color: #1F6BE3;
}
.menu .menu-item.btn-primary{
    margin-left: 20px;
}
.menu .menu-item::before{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background: rgba(245,5,6,0);
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.menu .menu-item.active::before{
    background: #1F6BE3;
    width: calc(100% - 40px);
}
.menu .menu-item.btn-primary{
    color: #0A3480;
    background: #fff;
    padding: 12px 36px;
}

#wgroup .logo-group{
    width: 100%;
    float: left;
    text-align: right;
}
#wgroup .logo-group img{
    margin-left: 30px;
}

#contact{
    background: url(../images/dways-img/contact-bg.jpg) no-repeat center;
    background-size: cover;
}
#contact .section-title h3{
    color: #fff;
}
#contact .section-title p{
    color: rgba(255,255,255,0.6);
}
form.contact{
    width: 100%;
    float: left;
}
form.contact .inp-group{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
form.contact .inp-group input,
form.contact .inp-group textarea{
    padding: 10px 20px;
    width: 100%;
    float: left;
    background: rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.3);
    color: #fff;
}
form.contact .inp-group input:focus,
form.contact .inp-group textarea:focus{
    outline: none;
    border: 1px solid#1F6BE3;
}
form.contact .inp-group input{
    height: 52px;
}
form.contact .inp-group input.half{
    width: calc((100% - 20px) / 2);
    margin-right: 20px;
}
form.contact .inp-group input:nth-child(even){
    margin-right: 0;
}
#contact .btn-primary{
    background: #D99D27;
    color: #001C4E;
}

footer{
    padding: 100px 0;
    background: #00215E;
}
.foot-title{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.foot-title h4{
    font-size: 32px;
    color: #fff;
}
footer p.info{
    padding-left: 30px;
    position: relative;
    color: rgba(255,255,255,0.6);
}
footer p.info i{
    position: absolute;
    left: 0;
    top: 3px;
} 
.maps{
    width: 100%;
    height: 215px;
}
.maps iframe{
    width: 100%;
    height: 100%;
}

section.copy{
    padding: 20px 0;
    background: #00215E;
    border-top: 1px solid rgba(255,255,255,0.2);
}
section.copy p{
    margin-bottom: 0;
    color: #fff;
}
.social-media{
    text-align: right;
    font-size: 18px;
}
.social-media a{
    margin-left: 10px;
    color: #fff;
}

.burger{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    float: right;
    color: #fff;
    z-index: 8;
    margin-top: 7px;
    cursor: pointer;
}

header.scrolled .burger{
    color: #0A3480;
}

.foot-logo{
    display: block;
}

.hero{
    height: 100vh;
    padding-top: 200px;
    background: url(../images/img-2/hero-bg.jpg) no-repeat center;
    background-size: cover;
}
.hero h1{
    margin: 80px 0 0;
    font-size: 100px;
}
.hero h1 span{
    color: #25A2DB;
}

#services{
    margin-top: -200px;
}

.tab-header{
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    margin-bottom: 30px;
    position: relative;
}
.tab-header .active-sign{
    width: calc(100% / 6);
    height: 5px;
    background: #25A2DB;
    position: absolute;
    bottom: -3px;
    border-radius: 3px;
    transition: all ease-out 0.3s;
    left: 0;
    opacity: 0;
}
.tab-header:hover .active-sign{
    opacity: 1;
}
.tab-header a{
    font-size: 16px;
    color: #fff;
    height: 100px;
    width: calc(100% / 6);
    float: left;
    position: relative;
    text-align: center;
    transition: color ease-out 0.3s;
}
.tab-header a span{
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding: 0 20px;
}
.tab-header a::before{
    content: "";
    width: 100%;
    height: 5px;
    background: #25A2DB;
    position: absolute;
    bottom: -3px;
    left: 0;
    border-radius: 3px;
    opacity: 0;
}
.tab-header a.active::before{
    opacity: 1;
}
.tab-header a.active,
.tab-header a:hover{
    color: #FFD000;
}
.tab-header a:nth-child(1):hover ~ .active-sign{left: 0;}
.tab-header a:nth-child(2):hover ~ .active-sign{left: 16.6%;}
.tab-header a:nth-child(3):hover ~ .active-sign{left: 33.3%;}
.tab-header a:nth-child(4):hover ~ .active-sign{left: 50%;}
.tab-header a:nth-child(5):hover ~ .active-sign{left: 66.6%;}
.tab-header a:nth-child(6):hover ~ .active-sign{left: 83.3%;}

.tab-ct{
    width: 100%;
    float: left;
}
.tab-ct .ct{
    display: none;
}
.tab-ct .ct.show{
    display: block;
}
.tab-ct figure{
    background: url(../images/img-2/services-bg.png) no-repeat center;
    background-size: contain;
}
.tab-ct figure img{
    width: 60%;
    height: 60%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.tab-ct .ct.show figure img{
    width: 60%;
    height: 60%;
}
.tab-ct h3{
    font-size: 36px;
    margin-bottom: 30px;
}
.tab-ct p{
    line-height: 200%;
}

.works-card{
    width: 100%;
    float: left;
    position: relative;
}
.works-card .text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 60px 120px;
    z-index: 2;
}
#works .col-md-6:nth-child(3),
#works .col-md-6:nth-child(5){
    margin-top: -25%;
}
#works .col-md-6:nth-child(5){
    padding-top: 140px;
}
.more-bt{
    font-size: 18px;
    color: #fff;
}
.more-bt i{
    color: #FFD000;
    margin-left: 20px;
}
.more-bt:hover{
    color: #FFD000;
}

#wgroup{
    padding: 200px 0;
    background: #fff;
}
#wgroup::before,
#wgroup::after{
    content: "";
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;
}
#wgroup::before{
    background: url(../images/img-2/wgroup-div-top.png) no-repeat top center;
    background-size: cover;
    top: -1px;
}
#wgroup::after{
    background: url(../images/img-2/wgroup-div-bottom.png) no-repeat top center;
    background-size: cover;
    bottom: -1px;
}

.blog-card{
    width: 100%;
    float: left;
    margin-bottom: 40px;
    background: #052868;
    border-bottom: 1px solid rgba(0,0,0,0);
    position: relative;
    transition: all ease-out 0.3s;
}
.blog-card .pic{
    width: 380px;
    float: left;
}
.blog-card .pic figure{
    padding-top: 180px;
}
.blog-card .text{
    padding: 30px 100px;
    width: calc(100% - 380px);
    float: left;
}
.blog-card .text h3{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}
.blog-card .text .meta-info{
    color: rgba(255,255,255,0.6);
}
.blog-card .text .meta-info i{
    margin-right: 8px;
}
.blog-card:hover .text h3 a{
    color: #fff;
}
.blog-card:hover{
    border-bottom: 1px solid #FFD000;
}
.blog-card .next-page{
    width: 180px;
    height: 180px;
    background: url(../images/img-2/blog-arrow.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 1px;
    opacity: 0;
    transition: all ease-out 0.3s;
}
.blog-card:hover .next-page{
    right: -83px;
    opacity: 1;
}

#works{
    background: url(../images/img-2/works-bg.jpg) no-repeat center;
    background-size: contain;
}

/*BLOG*/
.page-cover{
    padding-top: 150px;
    background: url(../images/img-2/hero-bg.jpg) no-repeat center fixed;
    background-size: cover;
}
.page-cover h2{
    color: #fff;
    font-size: 64px;
}
.page-cover .date{
    color: rgba(255,255,255,0.6);
}
.page-cover .meta-info{
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}
.page-cover .meta-info i{
    margin-right: 5px;
    font-size: 12px;
    transform: translateY(-1px);
}
.custom-breadcrumb{
    width: 100%;
    float: left;
    font-size: 14px;
    color: rgba(255,255,255,0.6);
}
.custom-breadcrumb a{
    margin: 0 5px;
    color: rgba(255,255,255,0.6);
}
.page-cover.work{
    height: 720px;
    padding-top: 280px;
}
.page-cover.work figure{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0.5;
}
.page-cover.work figure img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.blogs .blog-card{
    margin-bottom: 20px;
}
.custom-pagination{
    width: 100%;
    float: left;
    margin-top: 40px;
}
.custom-pagination a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #052868;
    padding-top: 10px;
    text-align: center;
    color: rgba(255,255,255,0.6);
    font-size: 14px;
    font-weight: 600;
    margin-left: -3px;
}
.custom-pagination a:first-child{
    border-radius: 12px 0 0 12px;
    -moz-border-radius: 12px 0 0 12px;
    -webkit-border-radius: 12px 0 0 12px;
}
.custom-pagination a:last-child{
    border-radius: 0 12px 12px 0;
    -moz-border-radius: 0 12px 12px 0;
    -webkit-border-radius: 0 12px 12px 0;
}
.custom-pagination a.active{
    color: #333;
    background: #FFD000;
}
.custom-pagination a:hover{
    color: #FFD000;
}

.article{
    width: 100%;
    float: left;
}
.article p,
.article li{
    font-size: 16px;
    line-height: 200%;
    color: rgba(255,255,255,0.6);
}
.article h3{
    font-size: 32px;
    color: rgba(255,255,255,0.8);
    margin-bottom: 10px;
}
.article blockquote{
    width: 100%;
    float: left;
    padding: 30px;
    line-height: 200%;
    font-size: 18px;
    font-weight: 700;
    background: #0A3480;
    color: #fff;
}
.article blockquote span{
    width: 100%;
    float: left;
    font-size: 14px;
    margin-top: 20px;
    position: relative;
    padding-top: 8px;
    color: #FFD000;
}
.article blockquote span::before{
    width: 30px;
    height: 3px;
    background: #FFD000;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.share-box{
    width: 100%;
    float: left;
    padding: 10px 20px;
    background: #052868;
}
.share-box h5{
    float: left;
    width: 30%;
    padding-top: 4px;
    margin-bottom: 0;
    color: rgba(255,255,255,0.6);
}
.share-box .socmed-group{
    float: right;
    width: 70%;
    text-align: right;
}
.share-box .socmed-group a{
    color: rgba(255,255,255,0.6);
    font-size: 18px;
    width: 30px;
    text-align: center;
    display: inline-block;
    padding-top: 3px;
}
.bg-grey{
    background: #f4f4f4;
}
#blogs.has-bg{
    background: url(../images/img-2/works-bg.jpg) no-repeat center;
    background-size: contain;
}

.blog-card-2{
    width: 100%;
    float: left;
    background: rgba(0,0,0,0.2);
    margin-bottom: 20px;
}
.blog-card-2 .text{
    padding: 20px;
    width: 100%;
    float: left;
}
.blog-card-2 .text h3{
    font-size: 18px;
    margin-bottom: 15px;
}
.blog-card-2 .text .meta-info{
    color: rgba(255,255,255,0.6);
    font-size: 14px;
}
.blog-card-2 .text .meta-info i{
    margin-right: 8px;
}

.dt-work .article{
    width: 100%;
    position: relative;
    z-index: 3;
}
.dt-work .article h1{
    font-size: 48px;
}

.work-result{
    background: rgba(0,0,0,0.2);
}

.result-card{
    width: 100%;
    float: left;
    text-align: center;
    background: rgba(255,255,255,0.1);
    padding: 20px 0;
    margin-bottom: 20px;
}
.result-card h3{
    font-size: 36px;
    color: #FFD000;
}
.result-card span{
    color: rgba(255,255,255,0.8);
    font-size: 14px;
}

@media only screen and (max-width:1024px){
    .for-mobile{
        display: block;
    }
    .for-desktop{
        display: none;
    }

    section{
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu{
        position: fixed;
        top: 90px;
        right: -240px;
        z-index: 5;
        background: #001C4E;
        width: 240px;
        height: calc(100vh - 90px);
        transition: all ease-out 0.3s;
        -moz-transition: all ease-out 0.3s;
        -webkit-transition: all ease-out 0.3s;
        padding-top: 30px;
        padding-bottom: 30px;
        overflow-y: auto;
    }
    .menu.show{
        right: 0;
    }
    header.scrolled .menu{
        top: 70px;
        height: calc(100vh - 70px);
    }
    .menu .menu-item{
        width: 100%;
        color: #fff;
        float: left;
        margin-bottom: 10px;
    }
    .menu .menu-item::before{
        bottom: -6px;
        transform: translateX(0);
        left: auto;
        right: 20px;
    }
    .menu .menu-item.active::before{
        width: 30px;
    }
    .menu .menu-item.btn-primary{
        margin-left: 20px;
        width: calc(100% - 40px);
    }
    .menu .menu-item.btn-primary::before{
        display: none;
    }

    .section-title a{
        position: relative;
        margin-top: 10px;
    }
    .section-title h2{
        font-size: 28px;
    }

    .copy p{
        text-align: center;
    }
    .copy .social-media{
        text-align: center;
        margin-top: 20px;
    }
    footer{
        padding: 80px 10px;
    }
    .foot-logo{
        margin-bottom: 60px;
    }
    .foot-title h4{
        font-size: 20px;
    }

    .hero h1{
        font-size: 40px;
        margin: 20px 0 0;
    }

    .tab-header{
        overflow-x: auto;
        white-space: nowrap;
        overflow-y: hidden;
    }
    .tab-header a{
        font-size: 14px;
        width: auto;
        display: inline-block;
        float: none;
        height: auto;
        padding: 30px 0;
    }
    .tab-header a span{
        position: relative;
        top: auto;
        transform: translateY(0);
    }
    .tab-ct h3{
        font-size: 24px;
        margin-bottom: 20px;
    }

    #works{
        padding-top: 0;
        padding-bottom: 0;
    }
    #works .col-md-6:nth-child(3), #works .col-md-6:nth-child(5){
        margin-top: 0;
    }
    .works-card .text{
        padding: 20px;
    }
    .works-card .text h3{
        font-size: 20px;
    }
    #works .col-md-6:nth-child(5){
        padding-top: 40px;
    }
    #wgroup .logo-group{
        text-align: center;
    }
    #wgroup .logo-group img{
        margin: 0;
        width: 60px;
        margin: 30px 10px 0;
    }
    #wgroup .col-md-4{
        padding: 0 60px;
    }

    .blog-card .next-page{
        display: none;
    }
    .blog-card .pic{
        width: 100%;
    }
    .blog-card .text{
        width: 100%;
        padding: 20px;
    }
    .blog-card .text h3{
        font-size: 18px;
    }
    .blog-card .text .meta-info{
        font-size: 14px;
    }
    form.contact .inp-group input.half{
        width: 100%;
        margin-right: 0;
        margin: 5px 0;
    }
    #contact{
        padding-top: 0;
    }

    .page-cover{
        padding: 120px 20px 60px;
    }
    .page-cover h2{
        font-size: 36px;
    }
    .article p,
    .article li{
        font-size: 14px;
    }
    .article h3{
        font-size: 20px;
    }
    .blog-detail{
        padding-left: 10px;
        padding-right: 10px;
    }
}

